/* Reset some default styles in browsers */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Add margin below h2 tags */

h2 {
  margin-bottom: 0.4em;
}

/* Apply background color to body */

body {
  background-color: #f4f1de;
  font-family: Arial, sans-serif;
}

/* Header Styles */

header {
  background-color: #3b1c0b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo-container {
  display: inline-block;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

/* Section styles */

section {
  padding: 40px 20px;
  text-align: center;
}

.welcome {
  background-color: #c08552;
  color: #fff;
}

.shop .coffee-list {
  list-style: none;
}

.about-us {
  background-color: #c08552;
  color: #fff;
}

/* Footer Styles */

footer {
  background-color: #3b1c0b;
  color: #fff;
  text-align: center;
  padding: 20px;
}
